{% extends "base.html" %}
{% load static %}

{% block title %}Задачи{% endblock %}

{% block main_content %}
<h1>Текущие задачи</h1>
<ul class="list-group">
  {% for key, item in categories.items %}
  <li class="list-group-item"> 
    <span class="badge badge-info"> <a style="color: #FFF !important; text-decoration: none" href="{% url 'tasks:list_by_cat' key.slug %}">{{ key.name }}</a> </span>
    <div style="margin-top: 10px">
    <ul id="todo-list" >
      {% for task in item %}
      {% if task.is_completed %}
      <li class="completed">
        <input class='checkbox' data-uid={{ task.id }} type='checkbox' disabled='disabled' checked='checked' />
        {% endif %}
        {% if task.prior.level == 3 %}
        <span class="badge badge-pill badge-danger">&nbsp;</span>
        {% elif task.prior.level == 2 %}
        <span class="badge badge-pill badge-secondary">&nbsp;</span>
        {% elif task.prior.level == 1 %}
        <span class="badge badge-pill badge-success">&nbsp;</span>
        {% endif %}
        <a href='{% url "tasks:details" task.id %}'>{{ task.description }}</a>
        <hr />
      </li>
      {% endfor %}
    </ul>
  </div>
  </li>
  
  {% endfor %}
</ul>

{% endblock %}